<div class="podium-container">
  <h1 class="title">¡Felicitaciones a los ganadores!</h1>
  <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">

  <div class="podium">
    <div class="podium-item second-place">
      <div class="position">2</div>
      <div class="avatar">🥈</div>
      <div class="name">Jugador 2</div>
      <div class="score">1495 pts</div>
    </div>

    <div class="podium-item first-place">
      <div class="position">1</div>
      <div class="avatar">🥇</div>
      <div class="name">Jugador 1</div>
      <div class="score">1858 pts</div>
    </div>

    <div class="podium-item third-place">
      <div class="position">3</div>
      <div class="avatar">🥈</div>
      <div class="name">Jugador 3</div>
      <div class="score">787 pts</div>
    </div>
  </div>


  <div class="confetti"></div>
  <head>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    </head>
</div>
