.container {
  font-family: Arial, sans-serif;
  background-color: #12230e; /* Fondo principal oscuro */
  color: white; /* Texto claro */
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  color: white; /* Color destacado para el título */
  font-size: 2rem;
  margin-bottom: 20px;
}

button {
  background-color: #495020; /* Color de fondo del botón */
  color: white; /* Texto del botón */
  border: 2px solid #6a6c3a;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 10px 0; /* Espaciado entre botones */
}

button:hover {
  background-color: #6a6c3a; /* Fondo más claro al pasar el mouse */
  transform: scale(1.05); /* Efecto de aumento */
}

button:active {
  background-color: #808c5a; /* Color al presionar */
  transform: scale(0.95); /* Reducir tamaño temporal */
}

.app-waiting-room {
  margin-top: 20px;
  padding: 15px;
  background-color: #23451C; /* Fondo de la sala de espera */
  border: 2px solid #80845c;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #8c744c;
  color: #12230e;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

input[type="text"] {
  width: 100%; /* Ancho completo */
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #6a6c3a; /* Borde del campo de texto */
  margin-bottom: 10px; /* Espacio inferior */
  background-color: #C4AF73; /* Fondo del campo de texto */
  color: #12230e; /* Texto del campo de texto */
}
