.game-interface {
  background-color: #23451C;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.table {
  background-color: rgba(0, 0, 0, 0.7); /* Overlay to dim background */
  border: 2px solid #808c5a;
  background-image: url('../../../public/quoteBackground.jpg');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay; /* Applies dimming effect */
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
}

/* .table td, .table th {
  border: 1px solid #C4AF73;
} */

.table th {
  background-color: #6a6c3a;
}

.table td {
  background-color: transparent !important;
  color: #ffffff;
}

.table-header {
  background-color: transparent;
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
}

.row-label {
  background-color: transparent;
  background: #6a6c3a;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.score-input {
  background-color: transparent;
  color: #ffffff;
  border: none;
  text-align: center;
  font-size: 1em;
  border-radius: 5px;
}

.score-input:focus {
  outline: none;
  box-shadow: 0 0 5px #8c744c;
}

.final-score-row {
  background-color: transparent;
  font-weight: bold;
  color: #ffffff;
}

.table-header th {
  color: #ffffff;
}

.row-label {
  color: #ffffff;
}

.score-input::placeholder {
  color: #80845c;
}

tbody tr {
  height: 60px;
}


.game-interface {
  position: relative;
}

.chip-system {
  position: absolute;
  bottom: -80px; /* Ajusta según el espacio requerido */
  right: 10px; /* Espaciado desde el borde derecho */
  text-align: center;
  color: #000; /* Cambia si necesitas otro color */
}

.chip-container {
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.chip {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFD700;
  border: 2px solid #B8860B;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.chip:hover {
  transform: scale(1.1);
}
