.game-board {
  text-align: center;
  margin: 20px;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.game-board {
  margin-top: 30px;
}

table {
  width: 100%;
}

th, td {
  text-align: center;
}

input {
  width: 80px;
  text-align: center;
}

td input {
  font-size: 14px;
}

tfoot tr td {
  font-weight: bold;
}
