<table class="table table-bordered">
  <thead>
    <tr>
      <th>Rondas</th>
      <th *ngFor="let player of players">{{ player }}</th> <!-- Jugadores como columnas -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let round of rounds">
      <td>{{ round }}</td> <!-- Rondas como filas -->

      <!-- Puntajes de cada jugador -->
      <td *ngFor="let player of players">
        <input
          class="form-control"
          type="number"
          [value]="getScore(player, round)"
          (input)="updateScore(gameCode, player, round, handleInputChange($event))"
        />
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td>
      <td *ngFor="let player of players">
        {{ getTotalScore(player) }}
      </td>
    </tr>
  </tfoot>
</table>
